<%- include('header') %>

<a href="<%= config.baseUrl %>/#/news" style="float:right;border-radius:4px;color:#fff;font-size:16px;padding:8px 15px;text-decoration:none;border:1px solid #4b48d6;display:block;font-weight:600;line-height:18px;background:#5755d9;">View on Watch-Later</a>
<h1 style="margin:0 0 10px;line-height:36px;">Hello <%= name %></h1>
<h3 style="margin:0 0 30px">Some new movies are available on your Watch-Later account:</h3>

<% movies.forEach(function (movie) { %>
  <div style="margin:10px 0; padding:10px;border-bottom:1px solid #EEE">
    <% if (movie.poster) { %><a href="<%= config.baseUrl %>/#/movies/<%= movie.tmdbId %>" style="float:left;text-decoration:none;margin-right:20px"><img src="<%= movie.poster %>" style="width:150px"/></a><% } %>
    <a href="<%= config.baseUrl %>/#/movies/<%= movie.tmdbId %>" style="font-size:22px;color:#5755d9;font-weight:600;text-decoration:none;margin:10px 0;display:block"><%= movie.title %></a>
    <% if (movie.releaseDateEn) { %>Release date (US): <%= movie.releaseDateEn %><br><% } %>
    <% if (movie.releaseDateFr) { %>Release date (FR): <%= movie.releaseDateFr %><br><% } %>
    <p style="line-height:16px;font-size:12px"><%= movie.overview %></p>
    <a href="<%= config.baseUrl %>/#/movies/<%= movie.tmdbId %>" style="float:right;border-radius:4px;color:#fff;font-size:12px;padding:3px 7px;text-decoration:none;border:1px solid #4b48d6;display:block;line-height:12px;background:#5755d9;">More information</a>
    <br style="clear:both">
  </div>
<% }) %>

<%- include('footer') %>
