<%- include('header') %>

<h1 style="margin:0 0 10px;line-height:36px;">Hello <%= name %></h1>
<h3 style="margin:0 0 30px">
  <% if (newAccount) { %>
    Your Watch-Later account has been created. To activate it, please set your password by clicking on the following button:
  <% } else { %>
    A password reset has been requested on your account. Please click on the following button to continue the procedure:
  <% } %>
</h3>

<div style="text-align:center">
  <a href="<%= config.baseUrl %>/#/password/<%= token %>" style="border-radius:4px;color:#fff;font-size:16px;padding:8px 15px;text-decoration:none;border:1px solid #4b48d6;display:block;line-height:18px;background:#5755d9;">Set my Watch-Later password</a>
</div>

<%- include('footer') %>
